<form method="post" action="{{ path('supprimer_chantier', {'id': chantier.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer ce chantier ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ chantier.id) }}">
    <button style="float: right" class="btn btn-danger btn-sm">Supprimer chantier</button>
</form>

