{% extends 'base.html.twig' %}

{% block title %}Nouveau employé{% endblock %}

{% block body %}
<div class="page-content" style="margin-top: 35px">
        <div class="container-fluid">
            <h4 class="page-title" >Nouveau employé : </h4>

            {{ include('user/_form.html.twig') }}

            <a class="btn btn-info btn-sm" style="float:right; margin-right:10px" href="{{ path('liste_employes') }}">Retour à la liste des employés</a>
{% endblock %}
